<template>
  <div class="container">
    <h1>Про мене </h1>
    <div class="cv">
      <div class="img"><img :src="myPhoto" alt=""></div>
      <div class="full_info">
        <h2>Привіт, я Aннa</h2>
        <p>Прізвище: {{ lastName }}</p>
        <p>Вік: {{ age }}</p>
        <p>Адреса: {{ address }}</p>
        <p>Номер телефону: {{ phoneNumber }}</p>
        <p>Бажана заробітня плата: {{salary}}</p>
        <p>Досвід роботи: {{experience}}</p>
        <button v-on:click="downloadPhoto">Save me</button>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  data() {
    return {
      lastName: 'Мазур',
      age: '24',
      address: 'м. Хмельницький',
      phoneNumber: '+380970717575',
      salary: '5000$',
      myPhoto: require('@/assets/photo_for_sv.png'),
      experience:'HR-менеджер, frontend development(6 місяців)'
    }
  },
  methods: {
    downloadPhoto() {
      fetch('/img/full_info.png')
          .then(response => {
            if (!response.ok) {
              throw new Error('Файл не знайдено');
            }
            return response.blob();
          })
          .then(blob => {
            const url = window.URL.createObjectURL(blob);
            const link = document.createElement('a');
            link.href = url;
            link.setAttribute('download', '/my_cv.png');
            link.click();
          })
          .catch(error => {
            console.error('Помилка завантаження фото:', error);
          });
    }
  }

}

</script>

<style>
.container {
  margin: 0 auto;
  font-family: Candara, serif; display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}

.cv {
  display: flex;
  column-gap: 30px;
  border: 8px double #ccc0d0;;
  padding: 30px;
}
.img{
  max-width: 50%;
}
img{
  max-width: 100%;
  max-height:calc(100vh - 200px) ;
}
.full_info{
  max-width: 50%;
}

button{
  font-size: 20px;
  width: 200px;
  height: 50px;
    box-shadow: 0 5px 15px 0 rgb(103, 30, 128);
    transition: 0.5s;
}
button:hover {
    transform: translate(0,-3px);
    box-shadow: 0 20px 40px 0 rgb(118, 168, 248);
  }
@media screen and (max-width: 768px){
  .cv{
    flex-wrap: wrap;
  }
  .img{
    max-width: 100%;
    margin: 0 auto;
  }
  .full_info{
    max-width: 100%;
  }
  
}
</style>
